# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Web related
.dart_tool/
build/

# Android related
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/key.properties
*.keystore
*.jks

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**Pods/

# Windows related
/windows/flutter/generated_config.cmake

# Linux related
/linux/flutter/generated_config.cmake

# macOS related
/macos/flutter/generated_config.cmake

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
